[submodule "third_party/nsync"]
	path = third_party/nsync
	url = https://github.com/google/nsync.git
[submodule "third_party/numkong"]
	path = third_party/numkong
	url = https://github.com/ashvardanian/NumKong.git
[submodule "third_party/cpptoml"]
	path = third_party/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "third_party/cpptrace"]
	path = third_party/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
