[submodule "third_party/numkong"]
	path = third_party/numkong
	url = https://github.com/ashvardanian/NumKong.git
[submodule "subprojects/carquet"]
	path = subprojects/carquet
	url = git@github.com:Vitruves/carquet.git
